<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Bookup</a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      (click)="toggleNavbar()"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      [ngClass]="{ show: navbarOpen }"
    >
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active current">
          <a class="nav-link" routerLink="/books">Find Books </a>
        </li>
        <li
          *ngIf="isAuthenticated"
          class="nav-item"
          routerLinkActive="active current"
        >
          <a class="nav-link" routerLink="/reading-list">Reading List</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li
          *ngIf="!isAuthenticated"
          class="nav-item"
          routerLinkActive="active current"
        >
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuthenticated" class="nav-item">
          <span class="nav-link divider">|</span>
        </li>
        <li
          *ngIf="!isAuthenticated"
          class="nav-item"
          routerLinkActive="active current"
        >
          <a class="nav-link" routerLink="/signup">Signup</a>
        </li>
        <li
          *ngIf="isAuthenticated"
          class="nav-item mr-auto"
          style="cursor: pointer;"
        >
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
