<div class="container">
  <div class="alert alert-danger" *ngIf="errorAlert">
    <p>{{ errorAlert }}</p>
  </div>
  <div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)" *ngIf="!isLoading">
    <h2 style="padding-bottom: 10px;">Login</h2>
    <div class="form-group">
      <label for="email">Email address</label>
      <input
        type="email"
        class="form-control"
        id="email"
        ngModel
        name="email"
        required
        email
      />
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        ngModel
        name="password"
        required
        password
      />
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
      Login
    </button>
    <a class="signup-redirect" routerLink="/signup">Don't have an account?</a>
  </form>
</div>
