<div class="row">
  <div class="col-sm">
    <div *ngFor="let book of booklist; let i = index">
      <a *ngIf="book" class="list-group-item">
        <img
          src="{{ book.volumeInfo.imageLinks.smallThumbnail }}"
          alt=""
          style="max-height: 50px; padding-right: 10px;"
        />
        <span
          >{{ book.volumeInfo.title }}, by {{ book.volumeInfo.authors }}.</span
        >
        <span
          style="float: right; padding: 10px; display: grid;
        grid-auto-flow: column;
        grid-column-gap: 25px"
        >
          <i
            class="ion ion-md-book"
            title="Preview"
            style="cursor: pointer;"
          ></i>
          <i
            class="ion ion-md-trash"
            title="Delete"
            style="color: red; cursor: pointer;"
            (click)="deleteConfirmation(i)"
          ></i>
        </span>
      </a>
    </div>
  </div>
</div>
