/* Mobile Styles */
@media (max-width: 640px) {
  .dropdown {
    margin-top: 100px;
  }

  .bk-title h1 {
    font-size: xx-large;
  }
}

@media (max-width: 400px) {
  .dropdown {
    position: absolute;
    top: 5.3%;
    right: 24%;
  }
}
