<div class="landing">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <h1 style="color: #FFF; margin-top: 100px;">Welcome to Bookup</h1>
        <p style="color: #FFF;">
          An interactive way to search for books and details before reading or
          purchasing.
        </p>
        <a class="link" routerLink="/books">Lookup books</a
        ><span class="ion ion-md-arrow-forward"></span>
        <div class="user-buttons">
          <button class="btn btn-secondary btn-lg" routerLink="/login">
            Login
          </button>
          <button class="btn btn-primary btn-lg" routerLink="/signup">
            Signup
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
